<%= form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class = "form-group">
    <div class="field">
      <%= f.label :name ,class: "control-label"%>
      <%= f.text_field :name ,class: "form-control"%>
    </div>
  </div>

  <div class ="form-group">
    <div class="field">
      <%= f.label :price,class: "control-label" %>
      <%= f.text_field :price,class: "form-control" %>
    </div>
  </div>

  <div class ="form-group">
    <div class="field">
      <%= f.label :description ,class: "control-label"%>
      <%= f.text_area :description,class: "form-control",row: 3 %>
    </div>
  </div>

  <div class ="form-group">
    <div class="actions">
      <%= f.submit nil,remote: true,id: "product-submit",class: "btn btn-primary" ,
          value: '新建商品',:data => { :"disable-with" => "请稍等..." }%>
    </div>
  </div>
<% end %>
