<tr id="product_<%= product.id %>">
  <td id="product_<%= product.id %>_name"><%= product.name %></td>
  <td><%= product.price %></td>
  <td><%= product.description %></td>
  <td><%= link_to 'Show', product %></td>
  <td><%= button_to 'edit',edit_product_path(product) ,method: :get,remote: true, class: "button editProductLink"%></td>
  <td><%= link_to 'Destroy', product, method: :delete, remote: true,data: { confirm: 'Are you sure?' } %></td>
</tr>
