<div class="alert alert-notice"><%= notice %></div>
<h1>Products</h1>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t 'product.name'%></th>
        <th><%= t 'product.price'%></th>
        <th><%= t 'product.description'%></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody id = "productsTable">
      <%if @products%>
        <%=render @products%>
      <%end%>
    </tbody>
  </table>
</div>
<br>

<%= link_to '新建商品', new_product_path,
  :class => 'btn btn-primary',data: {toggle: "modal", target: "#newProductFormModal"} %>
<div class="modal fade" id="newProductFormModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_for @product, remote: true,:html => { :class => 'form-horizontal', id: "newProductForm",multipart: true, authenticity_token: true} do |f| %>
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
           <h4 class="modal-title">添加一个商品</h4>
        </div>
        <div class="modal-body">
          <%= render partial: "f", locals: {f: f} %>
        </div>
        <div class="modal-footer">
          <%= link_to "取消", '#', :class => 'btn btn-default', data: {dismiss: "modal"} %>

          <%= f.submit nil,value:'新建商品',:class => 'btn btn-primary', :data => { :"disable-with" => "请稍等..." } %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="modal fade" id="editProductFormModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_tag "", method: :put, remote: true, id: "editProductForm", class: "form-horizontal" do %>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
          <h4 class="modal-title">编辑一个商品</h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-dismissible alert-danger" id="alert-content">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <div id="msg"></div>
          </div>
          <div class="form-group">
            <%= label_tag "product[name]", "#{t 'product.name'}", :class => 'control-label' %>
            <%= text_field_tag "product[name]", "", :class => 'form-control', id: "editProductName", required: true %>
          </div>
          <div class="form-group">
            <%= label_tag "product[description]", "#{t 'product.description'}", :class => 'control-label' %>
            <%= text_field_tag "product[description]", "", :class => 'form-control', id: "editProductDescription" %>
          </div>
          <div class="form-group">
            <%= label_tag "product[price]", "#{t 'product.price'}", :class => 'control-label' %>
            <%= text_field_tag "product[price]", "", :class => 'form-control', id: "editProductPrice" %>
          </div>
        </div>
        <div class="modal-footer">
          <%= link_to '取消', '#', :class => 'btn btn-default', data: {dismiss: "modal"} %>
          <%= button_to '确定','#',:type=> "submit",:class => 'btn btn-primary editSubmit', :data => { :"disable-with" => "请稍等..." } %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= content_for :page_javascript do %>
  <script>
    $('#newProductFormModal').modal({
      show: false,
    })
    $('#editProductFormModal').modal({
      show: false,
    })
  </script>
<%end%>
<%if @products%>
  <div container>
    <%= will_paginate @products %>
  </div>
<%end%>